/*--------------*/
/*BASIC SETUP*/
/*----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}

.clearfix ::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*----------------*/
/*REUSABLE COMPONENT*/
/*----------------*/

.row {
  max-width: 1140px;
  margin: 0, auto;
}

section {
  padding: 60px 0;
}

.box {
  padding: 1%;
}

/*-----HEADINGS -------*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  color: #fff;
  font-size: 240%;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110;
  margin-bottom: 15px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*-----------PARAGRAPHS-----------*/

.longcopy {
  line-height: 145%;
  width: 70%;
  margin-left: 25%;
}

.box p {
  font-size: 90px;
  line-height: 145%;
}

/*----------- ICONS -----------*/
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}
/*-------- BUTTONS ------------*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67e22;
}

.btn-ghost :hover .btn-ghost :active {
  border: 1px solid;
  color: #fff;
}

/*---------------------*/
/*HEADER*/
/*---------------------*/
header {
  background-image: url(./resources/images/pizza.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.pizza-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/*---------------------*/
/*FEATURES*/
/*---------------------*/

.section-features .longcopy {
  margin-bottom: 30px;
}

/*---------------------*/
/*MEALS*/
/*---------------------*/

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.8;
  width: 100%;
  height: auto;
  transform: scale(1.06);
  overflow: hidden;
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1);
  opacity: 1;
}
.columns {
  display: flex;
  margin: 20px;
}

.column {
  padding: 10px;
  margin: 5px;
}

/*---------------------*/
/*HOW IT WORKS*/
/*---------------------*/

.section-steps {
  background-color: #f4f4f4;
}

.phonediv {
  text-align: right;
  align-items: center;
  display: flex;
  justify-content: center;
}

.steps-box :last-child {
  padding-left: 30%;
  margin-top: 70px;
}

.App-screen {
  align-self: center;
}

.works-steps {
}

.works-steps:last-of-type {
}

.works-steps div {
  color: #e67e22;
  display: inline-block;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
  float: left;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.howitworks {
  display: flex;
  flex-direction: row;
  margin-left: 30vw;
  max-width: 55vw;
  width: 55vw;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.explain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}
